* {
  /* --background-color: #6E07F3; */
  --background-color: #5d8aee;;


  margin: 0;
  padding: 0;
  box-sizing: border-box;


  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  font-weight: 400;
}

/* Global Properties */
.main, .about, .skills, .contacts {
  background-color: var(--background-color);
  color: white;
  padding: 3rem;
}

.dark {
  color: white;
  background-color: inherit;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 2.1rem;
}

.subtitle {
  font-size: 18px;
}

/* Navbar */

.navbar-content {
  margin: 2rem;
}

.nav-logo {
  color: var(--background-color);
  font-size: 60px;
}

.nav-tab {
  text-decoration: none;
  margin: 0 1rem;
  color: rgba(10,10,10,0.8);
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-tab:hover {
  color: var(--background-color);

}

/* Main Section */
.main {
  background-color: white;
  padding-bottom: 0;
}

.main-heading {
  color: #141c3a;
  font-size: 4rem;
  margin-bottom: 1.5rem;
}

.main-subheading {
  color: rgba(10,10,10,0.9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

.main-avatar {
  max-width: 200px;
  margin: 3.5rem 0;
}

.main-img {
  max-width: 800px;
}

/* About Section */
.about-content {
  margin: 0 auto;
  width: 70%;
}

/* Skills Section */
.skills {
  background: linear-gradient(to bottom, #5d8aee 25%, white 25%, white 100%);
}

.skills-content {
  background-color: white;
  color: black;
  display: flex;
  border-radius: 8px;
  margin: 0 3rem;
  border: 2px solid #E6ECF8;
}

.skills-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 70px 40px;
}

.skills-title {
  color: #5d8aee;
  margin-top: 2rem;
}

.skills-box:first-child {
  border-right: 1px solid #E6ECF8;
}

/* Contacts Section */

.contact-icons {
  border-radius: 100%;
  height: 47px;
  width: 47px;
  border: 2px solid white;
  margin: 0rem 0.5rem;
  font-size: 1.5rem;
  padding: 0.6rem;
}

.contact-icons:hover {
  background-color: white;
  color: var(--background-color);
}